html {
	background: rgba(0, 0, 0, 0.75);
	margin: 50px 50px;
}

h3, h2, h1, p {
	font-family: flood-std, sans-serif;
	font-style: normal;
		font-weight: 400;
}

h3, h2 {
	text-align: center;
}

h3 {
	font-size: 25px;
}

h2 {
	font-size: 50px;
}

h1 {
	font-size: 75px;
	text-align: center;
}
h1, p {
	color: white;
}

div, p {
	font-size: 50px;
	text-align: center;
}

h3, h2 {
	color: red;
}

#odometer {
	float: left;
}

#leftmoto, #frontmoto {
	align-content: center;
}
